#profilePageContainer {
        min-height: 85vh;
        max-width: 1080px;
        text-align: center;
        margin: 25px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
}

#profilePhotoImage {
    align-self: center;
}

#profileInfoandCarousel {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    align-content: center;
}

#profileInfoCard {
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px lightgray solid;
    border-radius: 2%;
    padding: 10px;
    
}

.contactButton {
    margin: 20px;
}

#networkCarouselCard {
    width: 70%;
    height: auto;
}

.profileCreditBox {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    height: 100%;
}

.profileCreditImage {
    display: block;
    max-width: 100%;
    height: auto;
}

.overlay {
position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.profileCreditBox:hover .overlay {
  opacity: 1;
}


@media (max-width: 800px) {
    #profileInfoandCarousel {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #profileInfoCard, #networkCarouselCard {
        width: 100%;
    }
}


#selectedServiceCard {
    margin-top: 25px;
    padding: 20px;
    background-color: #f5f5f5;
}

#otherServices {
    margin-top: 25px;
    padding: 20px;
    align-items: center;
    
}

#otherServicesList {
    width: 50%;
    align-self: center;
}

#otherServices div {
    text-align: center;
}

.profileBadge {
    width:fit-content;
    align-self: center;
    margin-bottom: 10px;
}

#backButton {
    text-align: left;
}