#profilePageContainer {
        min-height: 85vh;
        text-align: center;
        margin: 25px;
}

#profilePhotoImage {
    align-self: center;
}


#profileInfoandCarousel {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}

#profileInfoCard {
    width: 30%;
    height: auto;
}

#networkCarouselCard {
    width: 65%;
}

.profileCreditBox {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    height: 100%;
}

.profileCreditImage {
    display: block;
max-width: 100%;
height: auto;
}

.selectedImage {
    filter: brightness(50%);
}

.overlay {
position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.profileCreditBox:hover .overlay {
  opacity: 1;
}

