#networkPageCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#networkPageInstructions {
    text-align: center;
    margin: 5rem;
}

#networkPage {
    min-height: 100vh;
}

#credits {
     height: 70vh;
     width: 30vw;
     overflow-y: auto;
}

#network Button {
    margin: 20px;
}

#network {
    text-align: left;
}

#allCredits {
    max-height: 80vh;
    padding: 25px;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
}
