#signupPage {
    margin-top: 25px;
    margin-bottom: 25px;
    
}


#signupPage Form input {
    width: 100%;
}

#signupPage label {

    margin-top: 15px;
    margin-bottom: 5px;
}

#signupPage span {
    color: red;
    display: block;
}

#signupButton {
    align-self: center;
    margin-top: 25px;
}